html {
    cursor: url('../others/images/cursor.png'), default;
    color: white;
    background-color: rgb(20, 20, 20);
}

* {
    padding: 0;
    margin: 0;
    font-family: consolas;
}

a {
    color: rgb(97, 97, 187);
    text-decoration: none;
}

a:hover {
    color: rgb(117, 117, 207);
}

#title {
    padding-top: 50px;
    padding-bottom: 50px;
}

#raizo {
    position: fixed;
    top: 10px;
    left: 10px;
    text-align: left;
    vertical-align: bottom;
    font-size: 66%;
}

#content {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -5%);
    -webkit-transform: translate(-50%, -5%);
    -moz-transform: translate(-50%, -5%);
    -ms-transform: translate(-50%, -5%);
    -o-transform: translate(-50%, -5%);
}

#musicBtn {
    position: absolute;
    bottom: 10px;
    left: 10px;
}